################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/App/.vs/App/FileContentIndex
/src/App/obj
/src/App/bin/Debug/net8.0
