################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/App/.vs/*
/src/App/obj/*
/src/App/bin/*
.idea